{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}
{{{rawTitle}}}
{{#_hasPublicationMetadata}}
<div class="publication-metadata" aria-label="Publication information">
  <div class="publication-author">{{author}}</div>
  <div class="publication-dates">
    Published <time datetime="{{_publicationPublishedIso}}">{{_publicationPublishedDisplay}}</time>{{#_publicationUpdatedDisplay}} · Updated <time datetime="{{_publicationUpdatedIso}}">{{_publicationUpdatedDisplay}}</time>{{/_publicationUpdatedDisplay}}
  </div>
</div>
{{/_hasPublicationMetadata}}
{{{conceptual}}}
